.calendar-main {

}

.date-grid
.date-picker{
	flex-shrink: 0;
}

.grid-hasEvent {
	border-width: 2px !important;
}

.event-list {
	flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.event-list .list-event {
	border-left: groove 4px;
}

.datePicker {
	width: 450px;
	padding: .2em;
	border: 1px solid #2c3e50;
	background: #ECF0F1;
	color: #222;
	margin:auto;
	max-height: 99%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.datePicker .header {
	position: relative;
	padding: .2em 0;
	border: 1px solid #2c3e50;
	background: white;
	color:  #222;
	font-weight: bold;
}


.datePicker .title {
	margin: 0 4.3em 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.datePicker .button {
	position: absolute;
	top: 2px;
	width: 2.8em;
	height: 1.8em;
}

.datePicker .button span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
}

.datePicker .button .right-aligned {
	margin-left: -6px;
}

.datePicker .button .left-aligned {
	margin-left: -10px;
}

.datePicker .button.previous {
	left: 2px;
}

.datePicker .button.next {
	right: 49px;
}

.datePicker .button.monthControlsNext {
	right: 96px;
}

.datePicker .button.monthControlsPrevious {
	left: 49px;
}


.datePicker .button.calendar{
	right: 2px;
}


.datePicker .button.calendar.active{
	background-color: #4B83A9;
}


@media(max-width:936px)
{
	.datePicker {
		width: 100%;
	}

	.datePicker .button{
		top: 4px;
		width: 2.2em;
		height: 1.9em;
	}

	.datePicker .button span {
		margin-top: -9px;
	}

	.datePicker .button .right-aligned{
		margin-left: -9px;
	}
	.datePicker .button .left-aligned{
		margin-left: -14px;
	}

	.datePicker .button.previous{
		left: 4px;
	}
	.datePicker .button.next{
		right: 64px;
	}

	.datePicker .button.monthControlsNext {
		right: 124px;
	}

	.datePicker .button.monthControlsPrevious {
		left: 64px;
	}


	.datePicker .button.calendar{
		right: 4px;
	}
}


table {
	width: 300px;
	font-size: 0.9em;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 10px;
}


th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	width: 30px;
}

td {
	border: 0;
	padding: 2px;
	cursor: pointer;
}

td span {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}


td a.default {
	border: 1px solid #2c3e50;
	background: white;
	font-weight: normal;
	color: #222;
}

td a.current {
	font-weight: bold;
	color: black;
	border-color: black;
}

.disabled {
	cursor: default !important;
	background-image: none;	
}

.disabled a{
	display: none;
}


.event-item {
	background-color: white;
    border: 1px solid #2c3e50;
    padding: 3px;
    height: 110px;
}
