.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}


body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.flexGrid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.flexGrid section {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
}

.flexGrid nav {
    flex: 1;
    position: relative;
}

.flexGrid article {
    flex: 4;
    position: relative;
}


.flexGrid .fixSizing {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.flexGrid footer {
    flex-shrink: 0;
}


.corner-all,
.corner-right,
.corner-bottom {
    border-bottom-right-radius: 6px;
}

.corner-all,
.corner-left,
.corner-bottom {
    border-bottom-left-radius: 6px;
}

.corner-all,
.corner-right,
.corner-top {
    border-top-right-radius: 6px;
}


.corner-all,
.corner-left,
.corner-top {
    border-top-left-radius: 6px;
}